<section class="slider-area slider-area2 slider-height2 d-flex align-items-center  hero-overly">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-11 col-md-12">
                <div class="hero__caption hero__caption2 text-center">
                    <h2>Blog</h2>
                </div>
            </div>
        </div>
    </div>
</section>
