@{
    ViewData["Title"] = "Home Page";
}

<!-- Start slider -->
<div class="slider-area">
    <div class="slider-item-active">
        <!-- Single -->
        <div class="slider-item">
            <div class="slider-bg1 slider-height hero-overly slider-bg1 d-flex align-items-center ">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10">
                            <div class="slide-content">
                                <h1>Dentist</h1>
                                <img src="~/img/icon/signature.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Content -->
            <div class="slider-caption2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-7 col-sm-8">
                            <div class="slide-content2">
                                <h4><dd>01</dd><span>Clinik</span></h4>
                                <p>Etiam tristique, metus pretium rutrum elementumv, risus tortor.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single -->
        <div class="slider-item">
            <div class="slider-bg2 slider-height hero-overly slider-bg1 d-flex align-items-center ">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10">
                            <div class="slide-content">
                                <h1>Photography</h1>
                                <img src="~/img/icon/signature.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Content -->
            <div class="slider-caption2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-7 col-sm-8">
                            <div class="slide-content2">
                                <h4><dd>02</dd><span>Clinik</span></h4>
                                <p>Etiam tristique, metus pretium rutrum elementumv, risus tortor.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single -->
        <div class="slider-item">
            <div class="slider-bg3 slider-height hero-overly slider-bg1 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10">
                            <div class="slide-content">
                                <h1>Photography</h1>
                                <img src="~/img/icon/signature.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Content -->
            <div class="slider-caption2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-7 col-sm-8">
                            <div class="slide-content2">
                                <h4><dd>03</dd><span>Clinik</span></h4>
                                <p>Etiam tristique, metus pretium rutrum elementumv, risus tortor.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dot - image -->
    <div class="slider-nav text-center">
        <div class="slider-thumb">
            <img src="~/img/hero/slider-dot1.png" alt="">
        </div>
        <div class="slider-thumb">
            <img src="~/img/hero/slider-dot2.png" alt="">
        </div>
        <div class="slider-thumb">
            <img src="~/img/hero/slider-dot3.png" alt="">
        </div>
        <div class="slider-thumb">
            <img src="~/img/hero/slider-dot2.png" alt="">
        </div>
    </div>
</div>
<!-- End Start slider -->

