@{
    ViewData["Title"] = "Home Page";
}

<!-- Start slider -->
<div class="slider-area">
    <div class="slider-item-active">
        <!-- Single -->
        <div class="slider-item">
            <div class="slider-bg1 slider-height hero-overly slider-bg1 d-flex align-items-center ">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10">
                            <div class="slide-content">
                                <h1 style=" color: black">Dentist</h1>
                                <img src="~/img/icon/signature.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Start slider -->
